<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>

    <link rel="stylesheet" type="text/css" href="index.css">
    <link href="content/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <script src="content/angular.min.js"></script>

    <!-- Instanciando .js do Angular -->

    <script src="app/scripts/app.js"></script>
</head>

<body>

    <header ng-include="'header.html'"></header>

    <div class="content">
        <div ng-controller="Controller">
            <button ng-click="order = 'name'">Order By Name</button>
            <button ng-click="order = 'belt'">Order By Belt</button>
            <input type="text" ng-model="search" />
            <ul>
                <li ng-repeat="ninja in ninjas | orderBy: order | filter: search" ng-show="ninja.available">
                    <img ng-src="{{ ninja.thumb }}" style="margin: -12px 10px 0 0; float: left; width: 50px;"
                        ng-show="ninja.thumb" />
                    <h3>{{ ninja.name }} - {{ ninja.rate | currency: "€" }}</h3>
                    <div class="remove" ng-click="removeNinja(ninja)">x</div>
                    <span class="belt" style="background: {{ninja.belt}}">{{ ninja.belt }} Belt</span>
                </li>
            </ul>
            <form ng-submit="addNinja()">
                <input type="text" placeholder="Name" ng-model="newninja.name" />
                <input type="text" placeholder="Belt" ng-model="newninja.belt" />
                <input type="text" placeholder="Rate" ng-model="newninja.rate" />
                <input type="submit" value="Add new ninja" />
            </form>
        </div>
    </div>

</body>

</html>